nav ul{
    float: right;
    margin-right: 20px;
}

.footer {
    position: fixed;
    left: 0;
    padding-block: 20px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #B5C9E5;
    margin-bottom: 0;
}

a{
    color: #000;
}

a:hover{
    color: #000;
}

#nav {
    text-align:center;
}
#nav ul {
    display:inline-block;
    list-style:none;
}
* html #nav ul { /* Target IE6 */
    display:inline;
}
*+html #nav ul { /* Target IE7 */
    display:inline;
}
#nav li {
    display:inline;
}
#nav a {
    float:left;
    text-decoration:none;
    padding:0 30px; /* variable width */
}

