#website-title h1 {
    font-size: 50px;
    padding: 10px;
    letter-spacing: 5px;
    color: white;
    background: blue;
    margin-top: 0px;
    margin-bottom: 0px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background: #f4f4f4;
}

ul{
    text-align: center;
}

#navbar ul { list-style: none; background: #e2e8f0;}

#navbar ul li {
    position: relative;
    display: inline-block;
    padding: 1rem;
    color: #333;
}

#navbar ul li a {
    color: #333;
    text-decoration: none;
}

/* Hide nested ul by default */
#navbar ul li ul { display: none;  }

#navbar ul li:hover {
    background: #346EF4;
    color: #fff;
    cursor: pointer;
}

#navbar ul li:hover a { color: #fff; }

/* Nested dropdown show */
#navbar ul li:hover ul {
    position: absolute;
    left: 0;
    display: block;
    width: 200px;
    margin-top: 1rem;
}

#navbar ul li:hover ul li {
    display: block;
    background: #e7e7e7;
}

#navbar ul li:hover ul li a { color: #000000; }

#navbar ul li:hover ul li:hover {
    background: #346EF4;
    color: #fff;
}
